

require("@nomiclabs/hardhat-waffle")

module.exports = {
  solidity : "0.8.0",
  path : {
      artifacts : ""
  },
  networks : {
     goerli : {
        url : "ALCHEMY_PROJECT_API_KEY",
        accounts : [
            "YOUR_API_KEY"
        ]
     }
  }

}